@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
  font-family: 'GeoNMS';
  src: url('./fonts/geonms-font.ttf') format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  font-family: 'GeoNMS',Open Sans,Courier New,Courier,monospace;
  background-color: black;
  color: white;
  min-width: 100%;
  min-height: 100vh;
}